<div *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}" >
  <p-card styleClass="bg-color" class="bg-amber-200">
  <div [ngClass]="{'flex': fullWidthMode}" >
    <img [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[300px]': fullWidthMode, 'max-w-sm':fullWidthMode}"
      class="mb-1 mx-auto h-[200px]"
         [src]="product.image" >
    <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
      <div>
        <button (click)="onShowCategory(product.category)"><span class="category-button bg-blue-500 rounded px-2 text-cyan-50">{{product.category | uppercase}}</span></button>
        <p [ngClass]="{'truncate': !fullWidthMode, 'hover:whitespace-normal': !fullWidthMode,
          'my-4':fullWidthMode}">{{product.title}}</p>
        <p *ngIf="fullWidthMode" class="italic text-sm">{{product.description}}</p>
      </div>
      <div class="flex justify-between mx-8 mt-2 border-t-2 pt-2 border-gray-400" >
        <span class="text-red-500 font-bold" [ngClass]="{'text-3xl': fullWidthMode}">{{product.price | currency}} </span>
        <button (click)="onAddToCart()" pButton class="p-button-outlined  p-button-raised add-to-cart-button">
          <i class="pi pi-shopping-cart " [ngClass]="{'text-3xl': fullWidthMode}"></i>
        </button>
      </div>
    </div>
  </div>
  </p-card>
</div>
