<app-toast-message></app-toast-message>

<div class="max-w-7xl  mx-auto min-h-full" >
  <p-toolbar class=" mx-auto p-justify-between"  styleClass="bg-color">

    <button pButton class="p-button-outlined" routerLink="home" (click)="toggle()" class="font-bold text-lg home-button">
      <i class="pi pi-home" style="font-size: 1.5rem"></i> Home page
    </button>

    <div>
      <button (click)="op.toggle($event)" pButton class="p-button-raised p-button-warning mr-5 cart-button">
        <i class="pi pi-shopping-cart"  style="font-size: 1.5rem">
        </i>
        <p-badge *ngIf="itemsQuantity" [value]="itemsQuantity.toString()" severity="danger" class="-ml-3 -mt-5 -mr-3"></p-badge>
      </button>
      <p-toggleButton class="my-auto" (click)="toggle()" styleClass="toggle-dark" onIcon="pi pi-sun" offIcon="pi pi-moon" onLabel=" " offLabel=" "></p-toggleButton>
    </div>


  </p-toolbar>
  <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '500px'}" styleClass="bg-color"	>
    <ng-template  pTemplate>

      <div *ngIf="cart.items.length">
      <div *ngIf="cart.items.length" class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
          <span class="mr-16">{{itemsQuantity}} items</span>
          <a routerLink="cart" class="font-bold underline">View Cart</a>
        </div>
        <div class="py-3">
          <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2 border-b-2">

            <span class="w-60">{{item.name}}</span>
            <span class="ml-3"><button (click)="onRemoveQuantity(item)" pButton class=" p-button-secondary p-button-text"><i class="pi pi-minus -mx-1" style="font-size: 1.0rem"></i></button></span>
            <span class="mx-1 text-lg">
              {{item.quantity}}x
            </span>
            <span class="mr-3"><button (click)="onAddQuantity(item)" pButton class=" p-button-secondary p-button-text"><i class="pi pi-plus -mx-1" style="font-size: 1.0rem"></i></button></span>
            <span class="font-bold">{{item.price | currency}}</span>
            <span class="ml-2">
              <button (click)="onRemoveFromCart(item)" pButton class="p-button-danger p-button-text">
              <i class="pi pi-times-circle" style="font-size: 1.5rem"></i>
            </button>
            </span>
          </div>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">{{getTotal(cart) | currency}}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
          <i class="pi pi-times"></i>
        </button>
        <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9 ">
          <i class="pi pi-shopping-cart"></i>
        </button>
      </div>

      </div>
      <h2 class="font-bold italic" *ngIf="!cart.items.length">Your cart is empty, lets buy something</h2>

    </ng-template>

  </p-overlayPanel>
</div>

